.analysis-board{
    width:50vw;
    height:80vh;
    background:rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding:20px;
}

.filters{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

.analysis-board h1{
    width:100%;
    height:10%;
    background-color: white;
    font-size:14px;
}

.analysis-board button{
    padding:0 10px;
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    .filters {
        align-items: center;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
      }

      .analysis-board{
        width:90vw;
      }

      .analysis-board{
        padding:0px;
      }
  }